.note {
  background-color: rgb(232, 232, 232);
  padding: 10px;
  margin-bottom: 10px;
}
.title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}
.delete {
  color: red;
  margin-top: 4px;
}
